body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #d4d9d5;
    overflow-x: hidden;
}

main {
    color: white;
}

h1{
    text-shadow: 0 2px 0px darkgray;
}

#dev {
    visibility: hidden;
    position: absolute;
}

#top-header{
    background-color: rgb(28, 28, 28);
    padding: 2px;
    margin-top: 20px;
    border-radius: 15px 15px 0 0;
}

#menu {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 60px;
    opacity: 0;
    border: none;
    padding: 55px 18%;
    z-index: 1;
}

#menu-top-bar, #menu-bottom-bar {
    position: absolute;
    right: 8%;
    padding: 3px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3.5px 0 rgba(70, 69, 69, 0.738);
    transition: top 0.5s ease-in-out, padding 0.5s ease-in-out, right 1s ease-in-out;
}
#menu-top-bar {
    top: 48px;
}
#menu-bottom-bar {
    top: 67px;
}

#menu.active ~ #menu-top-bar,
#menu.active ~ #menu-bottom-bar {
    top: 42px;
    padding: 20px 3px;
    right: 35%;
}

#close{
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

#edit-icon, #qrcode-icon, #contact-icon {
    position: absolute;
    border: none;
    padding: 25px;
    border-radius: 18px;
    right: 20%;
    top: 37px;
    cursor: pointer;
    background-color: #026095;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity 0.5s linear, visibility 0s linear 0.5s;
}

#edit-icon::before, #qrcode-icon::before, #contact-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-position: inherit;
    filter: invert(1);
    z-index: -1;
}

#edit-icon {
    background-image: url(../images/edit-icon.png);
    right: 27%;
}
#qrcode-icon {
    background-image: url(../images/qrcode-icon.png);
    right: 20%;
}
#contact-icon {
    background-image: url(../images/phone-call.png);
    right: 13%;
}

#menu.active ~ #edit-icon,
#menu.active ~ #qrcode-icon,
#menu.active ~ #contact-icon {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear;
    transition-delay: 0.8s;
}

#menu:not(.active) ~ #edit-icon,
#menu:not(.active) ~ #qrcode-icon,
#menu:not(.active) ~ #contact-icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s linear;
    transition-delay: 0s;
}

#top-header, #border-t, #top-menu{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}
#border-t{
    background-color: #ffffff;
    padding: 1px 0;
}
#top-menu{
    margin-top: 0;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgb(127, 127, 127);
    border-radius: 0 0 10px 10px;
    position: relative;
    padding-bottom: 20rem;
}

#name{
    cursor: pointer;
}

#canvas {

    display: inline-block;

    margin-top: 20px;

}

/*#top-menu{
    margin-top: 0;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 0 0 10px 10px;
    position: relative;
    z-index: -1;
    background: inherit;
    padding-bottom: 20rem;
}
#top-menu:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.4);
    filter: blur(10px);
    margin: -20px;
}*/
@media (max-width: 1090px) {
    #top-header{
        margin-left: 1%;
        margin-right: 1%;
    }
    #menu {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        border: none;
        padding: 55px 40%;
        z-index: 1;
    }
    #menu-top-bar, #menu-bottom-bar {
        position: absolute;
        right: 8%;
        padding: 3px 20px;
        border-radius: 15px;
        transition: top 0.5s ease-in-out, padding 0.5s ease-in-out, right 1s ease-in-out, transform 0.5s ease-in;
    }
    #menu-top-bar {
        top: 48px;
    }
    #menu-bottom-bar {
        top: 67px;
    } 
    #menu.active ~ #menu-top-bar,
    #menu.active ~ #menu-bottom-bar{
        top: 42px;
        padding: 20px 3px;
        right: 85%;
    }
    #menu.active ~ #menu-bottom-bar{
        transform: rotate(45deg);
    }
    #menu.active ~ #menu-top-bar{
        transform: rotate(-45deg);
    }
    #close{
        border: none;
        padding: 30px 45px;
        left: 8%;
        top: 32.5px;
        cursor: pointer;
    }
    #menu.active ~ #close {
        visibility: visible;
    }
    #header-text-container {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.6s ease;
        transition-delay: 0.8s;
    }
    #menu.active ~ #header-text-container {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in-out, 0.5s linear;
    }
    #edit-icon,
    #qrcode-icon,
    #contact-icon{
        top: 37px;
    }
    #edit-icon {
        right: 60%;
    }
    #qrcode-icon {
        right: 45%;
    }
    #contact-icon {
        right: 30%;
    }

    #border-t, #top-menu, #top-header{
        margin-left: 2%;
        margin-right: 2%;
    }
    #top-menu{
        margin-top: 0;
        height: 20rem;
        padding-bottom: 20rem;
    }
}

@media (max-width: 455px){
    #header-text{
        font-size: 1.5rem;
    }
    #edit-icon,
    #qrcode-icon,
    #contact-icon{
        top: 37px;
        padding: 17px
    }
    #edit-icon {
        right: 65%;
    }
    #qrcode-icon {
        right: 42.5%;
    }
    #contact-icon {
        right: 20%;
    }

    #menu-top-bar, #menu-bottom-bar {
        position: absolute;
        right: 8%;
        padding: 2px 15px;
    }
    #menu.active ~ #menu-top-bar,
    #menu.active ~ #menu-bottom-bar{
        top: 39px;
        padding: 15px 2px;
        right: 85%;
    }
    #menu-top-bar {
        top: 43px;
    }
    #menu-bottom-bar {
        top: 56px;
    } 
    
}

@media (max-width: 288px){
    body {
        visibility: hidden;
    }

    #dev {
        margin-top: 10rem;
        visibility: visible;
    }
}


/* --------------------- Colors ------------------------
#fabe20
#131722
#21252e
#121621 */